// GLOBAL
//----------------------------------*/
@import '1.variables/variables';

@import '2.mixins/mediaqueries';
@import '2.mixins/transitions';
@import '2.mixins/layout';
@import '2.mixins/functions';

@import '3.base/basic';
@import '3.base/buttons';
@import '3.base/helpers';
@import '3.base/lists';
@import '3.base/normalize';
@import '3.base/titles';
@import '3.base/typography';

@import '4.layout/footer';
@import '4.layout/header';
@import '4.layout/main-content';
@import '4.layout/menu-main';
@import '4.layout/menu-mobile';
@import '4.layout/sidebar';
@import '4.layout/wrappers';

@import '5.modules/buttons';
@import '5.modules/flexible-content';
@import '5.modules/slider';

@import '6.templates/home';

@import '7.print/print';
