header {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 40px);
    padding: 20px;
    z-index: 3;
    transition: 0.3s ease;

    .header-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;

        .burger-button {
            position: fixed;
            display: inline-block;
            cursor: pointer;
            left: 20px;

            span {
                display: block;
                height: 2px;
                margin: 6px 0;
                background-color: $black;
                transition: 0.3s ease;

                &:first-of-type {
                    width: 30px;
                }

                &:last-of-type {
                    width: 20px;
                }
            }
        }

        a {
            display: inline-block;
            max-width: 65px;
            text-align: center;

            .menu-main-logo {
                width: 100%;
            }

            &.menu-simple {
                position: fixed;
                display: none;

                .menu-simple-logo {
                    width: 30px;
                }
            }
        }
    }

    &.menu-open {
        padding: 35px 20px;
        .burger-button {
            span {
                &:first-of-type {
                    transform: rotate(45deg) translateY(5px);
                }

                &:last-of-type {
                    width: 30px;
                    transform: rotate(-45deg) translateY(-5px);
                }
            }
        }
    }

    @media (min-width: 600px) {
        padding: 30px 50px;
        width: calc(100% - 100px);

        .header-container {
            a {
                max-width: 100px;

                &.menu-simple {
                    .menu-simple-logo {
                        width: 60px;
                    }
                }
            }

            .burger-button {
                left: 50px;
            }
        }

        &.menu-open {
            padding: 50px 50px;
        }
    }
}

.burger-menu-container {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 2;
    background-color: $beige;

    .burger-menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .menu-container {
                margin-bottom: 50px;
                width: 100%;

                ul {
                    margin: 0;
                    padding: 0;
                    width: 100%;

                    li {
                        list-style: none;
                        margin: 8px 0;

                        a {
                            text-decoration: none;
                            color: $black;
                            color: #000000;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 16px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .menu-illustration {
                position: absolute;
                right: 20px;
                top: 75px;
                width: 45%;
                max-width: 110px;
            }

            .menu-footer {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .menu-contact {
                    width: 50%;

                    h2 {
                        color: $black;
                        font-size: 10px;
                        font-weight: 700;
                        line-height: 12px;
                        margin-bottom: 25px;
                    }

                    a {
                        display: block;
                        color: $black;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 12px;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }

                .menu-social-medias {
                    width: 35%;

                    h2 {
                        color: $black;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 12px;
                        margin-bottom: 25px;
                    }

                    ul {
                        display: inline-block;
                        margin: 0;
                        padding: 0;

                        li {
                            display: inline-block;
                            float: left;
                            list-style: none;
                            margin-right: 7px;

                            a {
                                display: flex;
                                width: 30px;
                                height: 30px;
                                background-color: $black;
                                border-radius: 50%;
                                color: $light-beige;
                                text-decoration: none;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }

                .menu-newsletter {
                    position: absolute;
                    width: calc(100% - 50px);
                    bottom: 20px;

                    img {
                        width: 40%;
                        margin-bottom: 10px;

                        &.arrow {
                            width: 10%;
                            max-width: 35px;
                            transform: scaleX(-1) rotate(175deg);
                            left: 5px;
                            bottom: 40px;
                            position: absolute;
                            margin: 0;
                        }
                    }

                    .newsletter-form {
                        width: 100%;

                        .wpcf7-form {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;

                            p {
                                position: relative;

                                &:first-of-type {
                                    width: calc(60% - 5px);

                                    input {
                                        width: 100%;
                                        margin: 0;
                                        border: none;
                                        padding: 10px 0px;
                                        background-color: transparent;
                                        font-family: "Inconsolata", sans-serif;
                                        font-size: 12px;
                                        font-weight: 400;
                                        letter-spacing: 0.77px;
                                        text-transform: uppercase;

                                        &:focus {
                                            outline: none;
                                        }
                                    }
                                }

                                &:nth-of-type(2) {
                                    width: calc(40% - 5px);

                                    input {
                                        width: 100%;
                                        padding: 8px 15px;
                                        background-color: $black;
                                        color: $white;
                                        font-family: "Inconsolata", sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                    }
                                }

                                span {
                                    display: inline-flex;

                                    &.ajax-loader {
                                        display: none;
                                    }
                                }

                                .input-underline {
                                    position: absolute;
                                    bottom: -5px;
                                    left: 0;
                                    transform: rotate(180deg);
                                    width: 100%;
                                    height: 5px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 600px) {
        .burger-menu {
            .container {
                .menu-container {
                    margin-bottom: 60px;

                    ul {
                        li {
                            margin: 20px 0;

                            a {
                                font-size: 38px;
                                line-height: 38px;
                            }
                        }
                    }
                }

                .menu-illustration {
                    right: 50px;
                    top: 120px;
                    width: 45%;
                    max-width: 200px;
                }

                .menu-footer {
                    .menu-contact {
                        h2 {
                            font-size: 16px;
                            line-height: 20px;
                            margin-bottom: 30px;
                        }

                        a {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }

                    .menu-social-medias {
                        width: 35%;

                        h2 {
                            font-size: 16px;
                            line-height: 20px;
                            margin-bottom: 30px;
                        }

                        ul {
                            li {
                                a {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }

                    .menu-newsletter {
                        bottom: 30px;
                        width: calc(100% - 150px);

                        img {
                            width: 30%;
                            margin-bottom: 30px;

                            &.arrow {
                                width: 20%;
                                left: 20px;
                                bottom: 20px;
                            }
                        }

                        .newsletter-form {
                            width: 75%;
                            margin-left: 25%;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .burger-menu {
            .container {
                position: relative;
                height: 100%;
                align-items: center;

                .menu-container {
                    margin-left: 8.33333%;
                    margin-right: 8.33333%;
                    margin-bottom: 0px;

                    ul {
                        li {
                            margin: 30px 0;

                            a {
                                font-size: 42px;
                                line-height: 42px;
                            }
                        }
                    }
                }

                .menu-illustration {
                    right: 16.66666%;
                    top: auto;
                    margin-top: -50px;
                    width: 25%;
                    max-width: 450px;
                }

                .menu-footer {
                    width: calc(100% - 240px);
                    position: absolute;
                    align-items: flex-end;
                    bottom: 80px;

                    .menu-contact {
                        margin-left: 8.33333%;
                        width: 16.66666%;
                    }

                    .menu-social-medias {
                        margin-left: 8.33333%;
                        width: 16.66666%;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;

                        h2 {
                            margin-right: 30px;
                            margin-bottom: 0px;
                        }
                    }

                    .menu-newsletter {
                        position: relative;
                        bottom: 0px;
                        width: 33.33333%;
                        margin-bottom: 0px;

                        img {
                            width: 37.55555%;
                            margin-bottom: 30px;

                            &.arrow {
                                bottom: 20px;
                            }
                        }

                        .newsletter-form {
                            width: 75%;
                            margin-left: 25%;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1640px) {
        .burger-menu {
            .container {
                .menu-footer {
                    width: 100%;
                }
            }
        }
    }
}
