main {
	background-color: slateblue;
	.module-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background-color: transparent;
		transition: ease-in-out 0.2s all;
		&.blue {
			background-color: palevioletred;
		}
	}
}
.module-title {
	transition: ease-in-out 0.2s all;
	cursor: pointer;
	font-family: 'inconsolata';
	font-weight: 700;
	&.background {
		font-size: 1.5em;
		background-color: black;
		color: white;
		padding: 2em;
	}
}
