// ==========================================================================
// MODULES - Slider
// ==========================================================================
// ! this is only a style template for modules/module-template.php
.page-wrapper {
	width: 100%;
}
main {
	background-color: lightgray;
	.template-section {
		display: flex;
		justify-content: center;
		background-color: whitesmoke;
		align-items: center;
		margin-top: 2em;
		width: 100vw;
		height: 20vh;
		transition: ease-in-out 0.2s all;
	}
}
.text {
	transition: ease-in-out 0.2s all;
	cursor: pointer;
	font-family: $font-family-default;
	font-weight: 200;
	font-size: $font-size-default;
	&.background {
		font-size: 1.5em;
		background-color: black;
		color: white;
		padding: 2em;
	}
}
.template-slick {
	background-color: lightgray;
	padding: 2em 0;
	.text {
		text-align: center;
	}
}
#home-experience {
	padding: 2em 0;
	background-color: whitesmoke;
}
