// ==========================================================================
// MODULES - Slider
// ==========================================================================
// ! this is only a style template for modules/module-template.php

main {
	background-color: slateblue;
	.template-section {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background-color: transparent;
		transition: ease-in-out 0.2s all;
	}
}
.text {
	transition: ease-in-out 0.2s all;
	cursor: pointer;
	font-family: $font-family-default;
	font-weight: 200;
	font-size: $font-size-default;
	&.background {
		font-size: 1.5em;
		background-color: black;
		color: white;
		padding: 2em;
	}
}
