// ==========================================================================
// BASE - Titles
// ==========================================================================

// Style mixins
// ==========================================================================

@mixin title-mega {
	font: 500 rem(50) $font-family-title;
	color: $black;

	@include min-width($mobile-threshold) {
		font-size: rem(80);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(120);
	}
}
@mixin title-1 {
	font: 500 rem(40) $font-family-title;
	color: $black;

	@include min-width($mobile-threshold) {
		font-size: rem(50);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(80);
	}
}

@mixin title-2 {
	font: 500 rem(35) $font-family-title;
	color: $black;

	@include min-width($mobile-threshold) {
		font-size: rem(45);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(70);
	}
}

@mixin title-3 {
	font: 500 rem(30) $font-family-title;
	color: $black;

	@include min-width($mobile-threshold) {
		font-size: rem(40);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(50);
	}
}

@mixin title-4 {
	font: 500 rem(25) $font-family-title;

	@include min-width($mobile-threshold) {
		font-size: rem(35);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(55);
	}
}

// Steps title
@mixin title-5 {
	font: 500 rem(35) $font-family-title;

	@include min-width($mobile-threshold) {
		font-size: rem(50);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(50);
	}
}

// Categorie title on grid
@mixin title-6 {
	font: 500 rem(18) $font-family-title;

	@include min-width($mobile-threshold) {
		font-size: rem(18);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(20);
	}
}

// Classes & Selectors
// ==========================================================================
.title-mega {
	@include title-mega;
}
h1,
.title-1 {
	@include title-1;
}

h2,
.title-2 {
	@include title-2;
}

h3,
.title-3 {
	@include title-3;
}

h4,
.title-4 {
	@include title-4;
}

h5,
.title-5 {
	@include title-5;
}

h6,
.title-6 {
	@include title-6;
}
