// ==========================================================================
//  VARIABLES
// ==========================================================================

// Colors
// ==========================================================================

$black: #000000;
$white: #ffffff;
$grey: #f4f6f7;
$marino: #022173;
$dpurple: #1f1641;
$clearblue: #6fa6ff;

//  Typography
// ==========================================================================

// - - - Font-face, for locally loaded font - - -
@mixin font-face($family, $path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$path}.woff2') format('woff2'), url('#{$path}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
	}
}
// Style mixins
// ==========================================================================

@include font-face(Inconsolata, './../../dist/fonts/inconsolata/Inconsolata-regular', regular, normal);

// Used in functions.sass only
$function-size-default: 16;

// Can be used for style
$font-size-default: 16px;

$line-height-default: 1.25;
$text-color-default: $black;

// header height for mobile
$header-height: 85px;

// - - - Font families - - -
$font-family-default: 'proxima-nova', Helvetica, Arial, sans-serif;

// Animation
// ==========================================================================

// Default transition time
$trans-time: 0.2s;

//  Settings
// ==========================================================================

// Under this threshold, the site enter the "mobile" resolutions
// In px, no unit
$mobile-threshold: 600px;
$tablet-threshold: 1024px;

// The selector of the main content, used for styles that apply only to the body text, like lists
// Replace 'main' by the appropriate selector for your framework, or you can define one yourself
// Wordpress & Drupal: '.content' should work, or '.content article'
// Magento: '.std'
$content: 'main';

// The selector for CMS WYSIWYG fields
// Wordpress: #tinyMce
// Drupal: .cke_editable
$editor: '#tinyMce';
